@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* ------ HEADER DE LA PAGINA ------- */

/* ------ BANNER ------ */
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40rem;
    align-items: center;
    color: rgb(240, 240, 240); 
    background-image: url(/Imgs/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0rem -10rem;
}

.intro h1 {
    align-items: center;
    font-size: 6.5rem;
    font-family: 'Fjalla One', sans-serif;
    text-decoration: underline;
    text-underline-position: under;
}

.intro h3 {
    font-family: 'Teko', sans-serif;
    font-size: 4.5rem;
}

/* ------ NAVEGADOR ------ */


nav {
    width: 100%;
    display: flex; 
    background-color: rgb(12, 12, 12);
    height: 8.5rem;
    justify-content: space-around;
    align-items: center;
}

nav p {
    font-family: 'Fjalla One', sans-serif;
    color: white;
    font-size: 2rem;
    padding: 0 1.7rem;
}

nav img {
    width: 6.5rem; 
}

.nav-list {
    display: flex;
    list-style: none;
}
.nav-list li{
    padding-left: 1.7rem;
}

.nav-list a{
    font-family: 'Fjalla One', sans-serif;
    color: white;
    font-size: 1.7rem;
    text-decoration: none;

}

/* ------ MAIN CONTENT -------- */

main {
    display: flex;
    height: 50rem;
    background-image: url(/Imgs/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0rem -10rem;
}

/* ------- MAIN CONTENT ABOUT ME -------  */
.main-division-about-me {
    width: 50%;
    height: 50rem;
    background-color: rgba(0, 0, 0, 0.603);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.main-division-about-me h2 {
    width: 100%;
    font-size: 4rem;
    padding: 1.5rem;
    color: white;
    font-family: 'Teko', sans-serif;
}

.main-division-about-me p{
    width: 100%;
    font-size: 2.5rem;
    padding: 1.5rem;
    color: white;
    font-family: 'Teko', sans-serif;
}

/* ------- MAIN CONTENT LEARNING -------  */
.main-division-conocimiento {
    width: 50%;
    height: 50rem;
}