@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
:root{
    --color-page: rgb(8, 28, 83); 
    --font-family1: 'Fjalla One', sans-serif; 
    --font-family2:  'Teko', sans-serif; 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* ------ HEADER DE LA PAGINA ------- */

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ------ BANNER ------ */

.intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    color: rgb(240, 240, 240); 
    background-image: url(../Imgs/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 2rem;
}

.intro h1 {
    align-items: center;
    font-size: 6.5rem;
    font-family: var(--font-family1);
    text-decoration: underline;
    text-underline-position: under;
}

.intro h3 {
    font-family: 'Teko', sans-serif;
    font-size: 4.5rem;
}

.intro img{
    width: 6rem;
}

/* ------- NAV BAR -------*/

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
}

.nav-bar ul{
    padding-top: 1rem ;
    display: flex;
    list-style: none;  
    justify-content: space-around;
    font-size: 1.7rem;
    font-family: var(--font-family1);
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 16rem;
    padding: 0rem 2rem;
    margin: 2rem 3rem;
    transition: all 0.5s;
}

.nav-bar a{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    border-color: white;
    border-style: solid;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    transition: all 0.3s;
}

.nav-bar a:hover{
    background-color: white;
    color: #000;
}

/* ------ MAIN CONTENT -------- */

main {
    display: flex;
    flex-direction: column;
    height: 300%;
    background-color: white;
    background-position: 0 -50rem;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.content-about-me {
    display: flex;
    align-items: center;
}

/* ------- MAIN CONTENT ABOUT ME -------  */
.main-division-about-me {
    width: 50%;
    height: 100vh;
    display: flex;
    margin-top: 10rem;
    flex-direction: column;
    align-items: center;
}

.text-main-division-about-me {
    width: 75%;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    color: black;
    font-family: var(--font-family2);
}

.text-main-division-about-me h2{
    padding-top: 2rem;
    font-size: 5rem;
    padding-left: 1rem;
}

.text-main-division-about-me h3{
    padding-top: 2rem;
    font-size: 4rem;
    padding-left: 1rem;
}

.main-division-about-me p{
    font-size: 2.3rem;
    padding: 1rem;
}

/* ------- MAIN PROJECTS CARD-------  */

.card-container {
    padding-right: 2.5rem;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-about-me {
    position: relative;
    width: 39rem;
    height: 39rem;
}

.card-about-me .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 1rem;
    transition: .5s;
}

.card-about-me .front {
    transform: perspective(60rem) rotate(0deg);
    box-shadow: 0 0.3rem 1rem #000;
}

.card-about-me .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-about-me .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4.5rem;
    line-height: 4.5rem;
    color: #000;
    text-align: right;
    padding: 1.2rem;
    font-family: var(--font-family2);

}

.card-about-me .back{
    transform: perspective(60rem) rotateY(180deg);
    background:rgb(240, 240, 240); 
    padding: 1.5rem; 
    color: #f3f3f3; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.3rem 1rem #000;
}

.card-about-me .back p{
    position: absolute;
    font-family: var(--font-family2);
    color:var(--color-page);
    font-size: 3rem;
}

.card-about-me .back p{
    color: #000;
}

.card-about-me:hover .front{
    transform: perspective(60rem) rotateY(180deg);
}

.card-about-me:hover .back{
    transform: perspective(60rem) rotateY(360deg);
}

/* ------ MAIN KNOWLEDGE -------- */

.main-knowledge{
    width: 100%;
    height: 100vh;
    padding: 1rem; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../Imgs/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat; 
}

.main-knowledge .text-knowledge{
    color: #f3f3f3;
    width: 100%;
    height: 100vh;
    height: 25rem;
    padding-top: 1rem;
    font-family: var(--font-family2);
}

.text-knowledge h2{
    font-size: 7rem;
}

.text-knowledge p{
    font-size: 3rem;
}


.imgs-knowledge {
    width: 100%;
}

/* -------- STYLES LOGOS  --------- */
.logos {
    width: 100%;
    height: 100%;
    display: flex;
}

.item-logo {
    width: 33.33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:1rem;
    margin: 0 3rem; 
    border-radius: 2rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.582);
}

.item-logo figure img{
    width: 7rem;
    display: flex;
    align-items: center;
    transition: all 0.6s;
}

.item-logo figure img:last-child{
    display: none;
    transition: 0.5s;
}

.item-logo figure:hover img:first-child{
    display: none;
}

.item-logo figure:hover img:last-child{
    display: block;
}

.item-logo figcaption {
    width: 100%;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    color: white; 
    padding-top: 1rem;
    font-family: var(--font-family2);
}

.item-logo p{
    width: 75%;
    padding-top: 1rem;
    color: white;
    font-size: 2.1rem;
    font-family: var(--font-family2);
}

/* --------- STYLES WEBS ---------- */

.main-contact{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
}

.text-contact {
    width: 100%;
    padding: 6rem 6rem;
    display: flex;
    flex-direction: column;
}

.text-contact h2{
    width: 100%;
    display: flex;
    text-align: right;
    font-family: var(--font-family2);
    font-size: 5rem;
}

.divisions-contact {
    width: 100%;
    display:flex;
    font-family: var(--font-family2);
}

.item-contact {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.item-contact img{
    width: 5rem;
    padding-bottom: 1.5rem;
}

.item-contact P{
    width: 65%;
    font-family: var(--font-family2);
    font-size: 2.5rem;
    border-radius: 1.5rem;
    transition: all 0.5s;
}

.item-contact p:hover{
    background-color: #000;
    color: #f3f3f3;
}

.item-contact a{
    text-decoration: none;
    color: #000;
    width: 65%;
    font-family: var(--font-family2);
    font-size: 2.5rem;
    border-radius: 1.5rem;
    transition: all 0.5s;
}

.item-contact a:hover{
    background-color: #000;
    color: #f3f3f3;
}

/* --------- FOOTER ---------- */

.copyright-text {
    width: 100%;
    height: 14rem;
    background-image: url(../Imgs/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat; 
}

.copyright-text-black-screen {
    padding-top: 2rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.925);
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.copyright-text-black-screen p{
    color: #fff;
    font-family: var(--font-family2);
    font-size: 2rem;
}



